DATABASE_URL=postgres://user:password@db:5432/db_name
RDS_DATABASE_URL=postgresql://USERNAME:PASSWORD@RDS_ENDPOINT:5432/DB_NAME
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=amiibo_card_catcher
TEST=true